<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @model.Task %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @model.integer %>
</p>

<p>
  <strong>String:</strong>
  <%= @model.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @model.string %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
