<h1><%= @category.name %></h1>

<br/>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Body</th>
            <th>Task Date</th>
        </tr>
    </thead>
    <tbody>
        <% @tasks.each do |task| %>
            <tr>
                <td><%= task.id %></td>
                <td><%= task.name %></td>
                <td><%= task.body %></td>
                <td><%= task.created_at %></td>
                <td><%= link_to 'Edit', edit_category_task_path(@category.id, task) %></td>
                <td><%= link_to 'Show', category_task_path(@category.id, task) %></td>
                <td><%= link_to 'Delete', category_task_path(@category.id, task), method: :delete, data: { confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<br/>
<br/>

<%= link_to 'Add Task', new_category_task_path(@category) %> | 
<%= link_to 'Back', categories_path %>

