<p id="notice"><%= notice %></p>

<p>
    <strong>Category Name:</strong>
    <%= @category.name%>
</p>
<p>
    <strong>Description:</strong>
    <%= @task.body%>
</p>

<%= link_to 'Edit', edit_category_task_path %> |
<%= link_to 'Back', category_tasks_path %>
